@model IEnumerable<CourseSignupSystemServer.Models.ChucVu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaCV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenCV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaCV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenCV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.MaCV }) |
                @Html.ActionLink("Details", "Details", new { id=item.MaCV }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.MaCV })
            </td>
        </tr>
}
    </tbody>
</table>
